body{
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: brown;
}
html{
    background-color: azure;
}
@media(max-width: 600px){
    body{
        font-size: 20px;
        color: blanchedalmond;
        background-color: black;
        
    }
    h1{
        font-style: italic;
        color: aqua;
    }
}
